.testFundo {
    background-image: url("../images/fundoteste.jpg");
    height: 100%;
    background-repeat: repeat-y;

    
}

.resposta{
    text-align: center;
}



.dalto{
    width: 200px;
    text-align: center;
}

#lista{
    text-align: center;
    list-style: none;
}
p{
    text-align: justify;
    margin: 200px;
    padding: 0;

}

.borda{
    border: 1px solid black;
    margin: 100px 350px 210px 350px;
}
